$bgColor: #8d4c4c;;
$text: #fff;
$boxColor: #000;
$secondColor: #30a73a;
$secondColor2: #af0624;
$bgColor2: hsl(190, 93%, 35%);

.profile-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    justify-self: stretch;
}
.content-wrapper {
        justify-content: center;
        margin-top: 45px;
        margin-bottom: 25px;
        background-color: $bgColor2;
        border-style: solid; 
}

mat-card {
    margin: 30px auto;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    border-style: solid;
    border-color: $boxColor;
    border-width: 3px;
    border-color: #ff00ee rgb(57, 255, 12)hwb(184 22% 1%) orangered;
    background-color: $bgColor;
}

.update-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

mat-card-header {
    font-weight: 500;
    display: flex;
    justify-content: center;
    color: $text;
    margin-bottom: 36px;
}

.card-actions {
    display: flex;
    justify-content: center;
    margin-top: 24px;
}

.mat-mdc-raised-button.mat-primary {
    background-color: $secondColor;
}

.mat-mdc-raised-button.mat-warn {
    background-color: $secondColor2;
}

mat-label {
    color: $boxColor;
}

@media all and (max-width: 300px) {
    .profile-container {
        margin-top: 50px;
    }

    mat-card {
        max-width: 250px;
    }

    mat-card-header {
        font-size: 14px;
    }
}

@media all and (min-width: 300px) and (max-width: 500px) {
    .profile-container {
        margin-top: 60px;
    }

    mat-card {
        min-width: 200px;
        max-width: 280px;
    }

    mat-card-header {
        font-size: 16px;
    }
}

@media all and (min-width: 500px) and (max-width: 1000px) {
    .profile-container {
        margin-top: 100px;
    }

    mat-card {
        min-width: 300px;
        max-width: 600px;
    }

    mat-card-header {
        font-size: 18px;
    }
}

@media all and (min-width: 1000px) {
    .profile-container {
        margin-top: 120px;
    }

    mat-card {
        min-width: 300px;
        max-width: 600px;
    }

    mat-card-header {
        font-size: 20px;
    }
}